* {
  margin:0;
  padding:0;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:#333
}

p {
  line-height: 1.5;
}

.title {
  background-color: darkslateblue;
  text-align: center;
  padding:20px 0;
  color: #fff;
  font-size: 24px;
}

.list {
  background-color:#ececec;
  padding:10px;
}

.list li {
  background-color:#fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-bottom: 10px;
  padding:5px
}

.useinput {
  background-color:#ececec;
  padding:10px;
}

.back {
  position: absolute;
  top:20px;
  left:30px;
  cursor: pointer;
}